body.a{
	background-color:#021c1e;	 

		
}
body.h{
	background-color:#1e1e20;
	color:white;
}
p{
	font-family:monospace;
	
}
 .ss{
		float: left;
}
.s{
display: inline-block;	
	animation: letras 0.7s infinite;
				font-family:monospace;
			font-size:25px;
			margin-bottom:4px;
			margin-top:4px;
			
}
div.tituloz{
margin:-8px;
 width:101%;
	background-color:black;
	margin-bottom:12px;
}
.titulo{
		padding-left:20px;
				font-family:monospace;
			font-size:25px;
	display: inline-block;
	margin-bottom:4px;
	margin-top:4px;
}
hr{
	border:1px solid yellow;
	margin-left:30%;
	margin-right:30%;
}
pre{
	font-size:16px;
	
}
div.box{
	font-family:monospace;
	background-color:yellow;
	color:black;
	border:3px solid yellow;
	border-radius:3px;
	width:400px;
	display: inline-block;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	margin-right:15px;
		}
.thumb{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	border:2px solid black;
	background-color:white;
	padding:3px;
	float:left;
	width:70;
	height:70;
}
iframe{
	margin-top:10px;
	width:100.7%;
	margin-left:-8px;
	height:87%;
	border:2px solid yellow;
	overflow-x:hidden;
	overflow-Y:hidden;

}
.menu{
	color:white;
	box-shadow: 0px 2px yellow;
	margin:-8px;
	padding-bottom:5px;
	padding-left:7px;
}
button{
	margin-bottom:-25px;
	margin-top:8px;
	padding:8px;
	background-color:white;
	font-family:monospace;
	font-size:15px;
	margin-right:-5px;
}
.bot {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #fdb965 5%, #f9df74 100%);
	background-color:#f8ff89;
	border:2px solid yellow;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.bot:hover {
	background:linear-gradient(to bottom, #f2946b 5%, #ffcc89 100%);
	background-color:#f2946b;
}
a.a{
	color:white;
	font-family:monospace;
	font-size:16px;
}
a.ba{
	color:black;
	font-family:monospace;
	font-size:16px;
	margin-top:-8px;
	}
p.ba{
	margin-top:-2px;
	margin-bottom:-12px;
	padding-bottom:-4px;
	
}
h2.ha{
	margin-bottom:-12px;
	
}
@keyframes letras{
  0%{font-family:monospace;color:white;}
  43%{font-family:monospace;color:white;}
  50%{font-family:monospace;color:black;}
  75%{font-family:monospace;color:white;}
  100%{font-family:monospace;color:white;}
 
}
